<!-- #919191 -->
<div class="dashboard-view">
    <!-- header  -->
    <div class="header">
    </div>
    <div class="table-filter">
        <form (ngSubmit)="getFilter($event)">
            <mat-form-field appearance="fill" class="filter-select">
                <mat-label>Season</mat-label>
                <mat-select [(ngModel)]="selectedSeason" name="seasons">
                <mat-option *ngFor="let season of seasons" [value]="season.value">
                    {{season.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill" class="filter-select">
                <mat-label>Style Category</mat-label>
                <mat-select [(ngModel)]="selectedStyle" name="styles">
                <mat-option *ngFor="let style of styles" [value]="style.value">
                    {{style.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field> -->
            <button mat-raised-button color="primary" class="buttons">Search</button>
            <button mat-raised-button color="accent" class="buttons" (click)="addData()" type="button">Enter Record</button>
        </form>
    </div>

    <div class="table-outer">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

            <!-- buyer Column -->
            <ng-container matColumnDef="buyer">
              <th mat-header-cell *matHeaderCellDef > Buyer </th>
              <td mat-cell *matCellDef="let element"> {{element.buyer}} </td>
            </ng-container>
          
            <!-- Season Column -->
            <ng-container matColumnDef="season">
              <th mat-header-cell *matHeaderCellDef> Season </th>
              <td mat-cell *matCellDef="let element"> {{element.season}} </td>
            </ng-container>
          
            <!-- Image Column  -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef class="image-column"> Image </th>
              <td mat-cell *matCellDef="let element"> <img src={{element.image}} class="imgs"> </td>
            </ng-container>
          
            <!-- vendor Column -->
            <ng-container matColumnDef="vendor">
              <th mat-header-cell *matHeaderCellDef > Vendor </th>
              <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
            </ng-container>

            <!-- styleno Column -->
            <ng-container matColumnDef="styleno">
                <th mat-header-cell *matHeaderCellDef> Style No </th>
                <td mat-cell *matCellDef="let element"> {{element.styleno}} </td>
            </ng-container>

            <!-- size Column -->
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef> Size </th>
                <td mat-cell *matCellDef="let element"> {{element.size}} </td>
            </ng-container>

            <!-- sampletype Column -->
            <ng-container matColumnDef="sampletype">
                <th mat-header-cell *matHeaderCellDef> Sample Type </th>
                <td mat-cell *matCellDef="let element"> {{element.sampletype}} </td>
            </ng-container>

            <!-- fabric Column -->
            <ng-container matColumnDef="fabric">
                <th mat-header-cell *matHeaderCellDef> Fabric </th>
                <td mat-cell *matCellDef="let element"> {{element.fabric}} </td>
            </ng-container>

            <!-- price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <!-- designer Column -->
            <ng-container matColumnDef="designer">
                <th mat-header-cell *matHeaderCellDef> Designer </th>
                <td mat-cell *matCellDef="let element"> {{element.designer}} </td>
            </ng-container>

            <!-- leadtime Column -->
            <ng-container matColumnDef="leadtime">
                <th mat-header-cell *matHeaderCellDef> Lead Time </th>
                <td mat-cell *matCellDef="let element"> {{element.leadtime}} </td>
            </ng-container>

            <!-- customerid Column -->
            <ng-container matColumnDef="customerid" >
                <th mat-header-cell *matHeaderCellDef> Customer ID </th>
                <td mat-cell *matCellDef="let element"> {{element.customerid}} </td>
            </ng-container>

            <!-- construction Column -->
            <ng-container matColumnDef="construction">
                <th mat-header-cell *matHeaderCellDef> Construction </th>
                <td mat-cell *matCellDef="let element"> {{element.construction}} </td>
            </ng-container>

            <!-- gsm Column -->
            <ng-container matColumnDef="gsm">
                <th mat-header-cell *matHeaderCellDef> GSM </th>
                <td mat-cell *matCellDef="let element"> {{element.gsm}} </td>
            </ng-container>

          
            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openRecord(row)" ></tr>
          
            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
          </table>
    </div>
</div>