<div class="container">
    <div class="image-panel">
        <img src={{data.datakey.image}} class="image">
    </div>
    <div class="details-panel mat-typography">
        <h1>Image Properties</h1>
        <h3>Buyer - {{data.datakey.buyer}}</h3>
        <h3>Season - {{data.datakey.season}}</h3>
        <h3>Vendor - {{data.datakey.vendor}}</h3>
        <h3>Style No. - {{data.datakey.styleno}}</h3>
        <h3>Size - {{data.datakey.size}}</h3>
        <h3>Sample Type - {{data.datakey.sampletype}}</h3>
        <h3>Fabric - {{data.datakey.fabric}}</h3>
        <h3>Price - {{data.datakey.price}}</h3>
        <h3>Designer - {{data.datakey.designer}}</h3>
        <h3>Lead Time - {{data.datakey.leadtime}}</h3>
        <h3>Customer ID - {{data.datakey.customerid}}</h3>
        <h3>Construction - {{data.datakey.construction}}</h3>
        <h3>GSM - {{data.datakey.gsm}}</h3>

        <div mat-dialog-actions class="close">
            <button mat-button mat-dialog-close class="close-btn">Close</button>
          </div>
    </div>
</div>